html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

p {
  line-height: 2;
  font-weight: bolder;
}
/* ------------------ CLASS STYLES --------------------------*/

.header {
  border: 1px solid black;
}

.header li {
  display: inline-block;;
  padding-top: 15px;
  padding-left: 40px;

}
.intro  {
  letter-spacing: 0.2em;
  height: 500px;
  margin-top: 50px;
  border: 1px solid black;
}
.text-format {
  letter-spacing: 0.2em;
}
.indent {
  padding-left: 30px;
}
.upcoming-appointments {
  text-align: center;
}
















.calendar-columns {
  height: 20px;
  border: 1px solid #b3b3b3;
}

.cal-11 {
  color: #b3b3b3;
}
.cal-aa {
  color: black;
}
.cal-g.cal-1 {
  background-color: #d9534f;
}
.cal-h.cal-1 {
  background-color: #d9534f;
}

.filler {
  margin-top: 200px;
}
