html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  line-height: 2;
  font-weight: bolder;
}
/* ------------------ CLASS STYLES --------------------------*/

.header {
  border: 1px solid black;
}

.header li {
  display: inline;
  padding: 30px
}

.calendar-columns {
  height: 20px;
  border: 1px solid #b3b3b3;
}

.cal-11 {
  color: #b3b3b3;
}
.cal-aa {
  color: black;
}
.cal-g.cal-1 {
  background-color: #d9534f;
}
.cal-h.cal-1 {
  background-color: #d9534f;
}

.filler {
  margin-top: 200px;
}
